button {
  border: none;
  font-size: 1rem;
  background-color: var(--OFF_WHITE);
  padding: 0.5em 0.5em 0.75em 0.5em;
  padding-bottom: 0.25em;
}

button:hover {
  cursor: pointer;
  color: var(--LIGHT_BLUE);
}

.chooseButton:hover {
  border-bottom: 1px solid var(--LIGHT_BLUE);
}

.li {
  list-style: none;
}

.link {
  text-decoration: none;
}

.contentsWrapper {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

