.questionsListWrapper {
  width: 80%;
}

button {
  border: none;
  font-size: 1rem;
  background-color: var(--OFF_WHITE);
  padding: 0.5em 0.5em 0.75em 0.5em;
  padding-bottom: 0.25em;
}

button:hover {
  cursor: pointer;
  color: var(--LIGHT_BLUE);
}

.chooseButton:hover {
  border-bottom: 1px solid var(--LIGHT_BLUE);
}

.li {
  list-style: none;
}

.questionLi {
  display: flex !important;
  width: 100%;
  align-items: baseline;
}

.checkIcon {
  width: 6%;
  margin-right: 1em;
}

.link {
  text-decoration: none;
  color: var(--ASH_BLACK);
  padding-bottom: 0;
}

.link:hover {
  color: var(--LIGHT_BLUE) !important;
  border-bottom: none !important;
}

.contentsWrapper {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
