.buttonWrapper {
  display: inline;
  position: fixed;
  z-index: 100;
  top: 50vh;
  left: 3vw;
  cursor: pointer;
}

.icon {
  font-size: 40px;
}

.icon:hover {
  cursor: pointer;
  color: var(--ASH_BEIGH);
  transition: 0.5s;
}
