.container {
  width: 100%;
  flex-grow: 1;
  min-height: 90vh;
}

.topContainer {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-left: auto;
  min-height: 90vh;
}

.back {
  width: 90%;
  min-height: 90%;
  display: flex;
  justify-content: end;
}

.backimg {
  width: 90%;
  max-height: auto;
  object-fit: contain;
}

.descriptionContainer.desktop {
  padding: 1rem 2rem;
}
.descriptionContainer.mobile {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}
