.App {
  text-align: center;
}

:root {
  --ASH_BLACK: #384449;
  --ASH_BEIGH: #d1bfb2;
  --OFF_WHITE: #fdfbf6;
  --LIGHT_BLUE: #5eb5c0;
  --DARK_BLUE: #3d94aa;
  --DARK_GREEN: #2e4448;
  --DARK_RED: #931424;
}
