body {
  margin: 0;
  color: #384449;
  /* font-family: "Glass Antiqua", cursive; */
  /* font-family: "Special Elite", cursive; */
  font-family: "Krona One", sans-serif;
  /* font-family: "Italiana", serif; */
}
