.wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--OFF_WHITE);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
}

.form {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.errorMessage {
  color: var(--DARK_RED);
  margin: 2%;
  font-weight: bold;
  font-size: large;
}

.changeMode:hover {
  color: var(--DARK_BLUE);
  cursor: pointer;
}
