.section {
  display: flex;
  margin: 4em 0;
  padding-left: 4em;
}

.flex {
  display: flex;
  align-items: center;
  padding: 2em;
}

.flexCol {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flexImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.title {
  font-family: "Krona One", sans-serif;
  font-size: 40px;
}

.title:hover {
  color: #5eb5c0;
  cursor: pointer;
}

.arrowIcon {
  margin-left: 1rem;
  transition: all 0.5s;
}

/* TODO titleをonClickで動かすように変更 */
.arrowIcon:hover {
  transform: translate(1rem, 0);
}

.explanation {
  font-size: 18px;
}
