.section {
  display: flex;
  padding-left: 4em;
}

.flex {
  display: flex;
  align-items: center;
  padding: 2em;
  padding-bottom: 0;
}

.flexCol {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flexImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.title {
  font-family: "Krona One", sans-serif;
  font-size: 40px;
}

.title:hover {
  color: #5eb5c0;
  cursor: pointer;
}

.arrowIcon {
  margin-left: 1rem;
  transition: all 0.5s;
}

/* TODO titleをonClickで動かすように変更 */
.arrowIcon:hover {
  transform: translate(1rem, 0);
}

.explanationContainer {
  font-size: 18px;
  text-align: left;
  line-height: 1.2;
}

.a {
  color: var(--DARK_BLUE);
}

.a:hover {
  color: var(--DARK_RED);
}

.likesWrapper {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

.likesContainer {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.likesContainer p {
  margin: 0;
}

.exampleSection {
  display: flex;
  flex-direction: column;
  margin: 4em 0;
  padding-left: 4em;
}

.exampleTitle {
  text-align: center;
  font-family: "Krona One", sans-serif;
}

.exampleSubTitle {
  text-align: center;
  margin-top: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid lightgray;
}
