.comparisonWrapper {
  display: flex;
  width: 100%;
  gap: 1em;
}

.answerBox {
  display: flex;
  flex-direction: column;
  color: var(--OFF_WHITE);
  width: 50%;
  margin-bottom: 3em;
}

.answerTitle {
  padding: 0.5em;
}

.answerTitle.yourAnswer {
  background-color: gray;
}

.answerTitle.aiAnswer {
  background-color: var(--DARK_RED);
}

.answerContentBox {
  color: var(--ASH_BLACK);
  padding: 1em;
}

.answerContentBox {
  border: 2px solid var(--ASH_BLACK);
  border-top: none;
  flex: 1;
}
