.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #3d94aa;
  color: var(--OFF_WHITE);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.title {
  font-family: "Special Elite", cursive;
  font-size: 35px;
  letter-spacing: 2.25;
}

.title > span {
  font-size: 17px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Krona One", sans-serif;
  font-size: larger;
  flex: 1;
  line-height: 2;
}

.menuItems p:hover {
  cursor: pointer;
  color: #d1bfb2;
  transition: 0.5s;
}

.address {
  font-weight: lighter;
  line-height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Krona One", sans-serif;
  font-size: smaller;
  flex: 1;
}

.navLink {
  color: var(--OFF_WHITE);
  text-decoration: none;
  margin: 0;
}

.navLink:hover {
  color: var(--ASH_BEIGE);
}
