form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formButton {
  width: 50%;
  margin: 2em auto;
  padding: 0.7em;
  border-radius: 6px;
  background-color: var(--DARK_GREEN);
  color: var(--OFF_WHITE);
}

.formButton:hover {
  background-color: var(--DARK_RED);
  color: var(--OFF_WHITE);
  text-decoration: none;
}


textarea {
  border: 2px solid var(--ASH_BLACK);
  border-radius: 6px;
  flex: 1;
  background: #eaedf2;
  padding: 1em;
  font-size: 20px;
}

textarea:focus {
  outline: solid 2px var(--DARK_GREEN);
}



